<footer>
  <a href="/about">about</a>
  <a href="http://github.com/antirez/lamernews">source code</a>
  <a href="rss">rss feed</a>
  <a href="FooterTwitterLink]">twitter</a>
  <a href="FooterGoogleGroupLink]">google group</a>
</footer>
