<header>
	<h1>
		<a href='/'>SiteName<small> Version</small></a>
	</h1>

	<nav>
  		<a href='/'>top </a>
  		<a href='/latest'>latest</a>
  		<a href='/submit'>submit</a>
	</nav>

	<nav id='account'>
    <% if (!auth) { %>
       <a href='/login'>login / register</a>
    <% } else { %>
       <a href='/logout'>logout</a>
    <% } %>
	</nav>
	<a href="#" id="link-menu-mobile"><~></a>
</header>
